---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="a little bit about me and what I'm doing."
  pubDate={new Date("2024-04-17")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    Hey! I'm jonathanmv. A Colombian living in Germany trying to create content
    using AI. At the same time, I'm learning how to stream and hopefully my
    streams improve over time. You can find me on <a
      href="https://twitter.com/jonathanmv">Twitter</a
    >, <a href="https://www.twitch.tv/jonathonmv">Twitch</a>.
  </p>
</Layout>
